<div id="header">
  <div class="container">
    <h2>Daniel Stahl</h2>
    <ul class="nav">
      <li>About me</li>
      <li>Projects</li>
      <li>Experiences</li>
      <li>Contact me</li>
    </ul>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h3>Hello. I am Daniel Stahl and I build, destroy, and fix websites. Currently I am developing Ruby on Rails web apps and I love it!</h3>
    <a href-"#">View my projects</a>
  </div>
</div>

<div id="footer">
  <div class="container">
    <ul class="social_media">
      <li>Github</li>
      <li>Snapchat</li>
      <li>Twitter</li>
    </ul>
    <p>2016 Daniel Stahl</p>
  </div>
</div>